* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/techflow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.inicio {
    position: relative;
    width: 100%;
    height: 100vh;
}

.tech-flow {
    position: absolute;
    top: 42%;
    left: 31%;
    
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
    color: #168fe5;

    cursor: pointer;
    transition: 0.3s;
}

.tech-flow:hover {
    transform: scale(1.08);
}